html,
body,
* {
  font-family: "Shadows Into Light", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: rgb(63, 53, 53);
}
.main-header {
  font-size: 10rem;
  text-align: center;
  color: red;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem auto;
}
.gallery-card {
  height: 54rem;
  width: 28%;
  background-color: red;
  margin: 3rem auto;
  font-size: 5rem;
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgb(32, 31, 31);
  border-radius: 30px;
}
.card-img {
  height: 35rem;
  width: 75%;
  border: 2px solid yellow;
  border-radius: 30px;
}
.gallery-quote {
  font-size: 20px;
  margin: 15px;
}
