html,
body,
* {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: lightblue;
}
.post {
  font-size: 10rem;
  text-align: center;
  margin-top: 100px;
}
.parent {
  font-size: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px;
}
.child {
  width: 28%;
  border-radius: 15px;
  background-color: linen;
  text-align: center;
  border: 5px solid lightgoldenrodyellow;
  height: 450px;
}
.child-1 {
  background-image: url(img/DS1.webp);
  background-size: 50px;
}
.child-2 {
}
.child-3 {
}
.child-4 {
}
.child-5 {
}
.child-6 {
}
.child-7 {
}
.child-8 {
}
.child-9 {
}
