html,
body,
* {
  font-family: "Shadows Into Light", cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: cornflowerblue;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem auto;
}
.gallery-card {
  height: 50rem;
  width: 28%;
  background-color: lightcyan;
  margin: 3rem auto;
  font-size: 5rem;
  text-align: center;
  border: solid 3px blue;
  border-radius: 30px;
}
